body {
    background-color: #AED9DA; 
    /* background-color: #3DDAD8; */
    /* background-color: #2A93D5; */
    /* background-color: #135589; */
}

nav{
    background-color: #135589;;
}

.mainCard {
    background-color: white;
}